name: Release
on:
  push:
    tags: ['v*']

jobs:
    test: 
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Setup Bun Runtime
              uses: oven-sh/setup-bun@v2
              with:
                bun-version: latest
            - name: Install dependencies
              run: bun install
            - name: Test
              run: bun test
              continue-on-error: false
    build:
        strategy:
            matrix:
                include:
                    - target: linux-x64-modern
                      name: linux-x64-modern
                      platform: linux-x64-modern
                      runtime: bun-linux-x64-modern
                    - target: linux-x64-baseline
                      name: linux-x64-baseline
                      platform: linux-x64-baseline  
                      runtime: bun-linux-x64-baseline
                    - os: macos-latest
                      target: x86_64-apple-darwin
                      name: darwin-x64
                    - os: macos-latest
                      target: aarch64-apple-darwin
                      name: darwin-arm64
                    - os: windows-latest
                      target: x86_64-pc-windows-msvc
                      name: windows-x64
                      ext: .exe

        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Setup Bun Runtime
              uses: oven-sh/setup-bun@v2
              with:
                bun-version: latest
            - name: Install dependencies
              run: bun install
            - name: Check types
              run: bun run check-types
              continue-on-error: false
            - name: Build
              run: bun run bundle:cli:executable-${{ matrix.target}}    

            - name: Upload to Release
              uses: softprops/action-gh-release@v1
              with:
                files: out/waavy-${{ matrix.name }}${{ matrix.ext }}
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}