name: Release

on:
  push:
    tags: ["v*"]

permissions:
  contents: write
  packages: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun Runtime
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        env:
          WAAVY_SKIP_POSTINSTALL: ${{ secrets.WAAVY_SKIP_POSTINSTALL }}
        run: bun install

      - name: Test
        run: bun test

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun Runtime
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        env:
          WAAVY_SKIP_POSTINSTALL: ${{ secrets.WAAVY_SKIP_POSTINSTALL }}
        run: bun install

      - name: Check types
        run: bun run check-types

      - name: Build
        env:
          NODE_ENV: production
          WAAVY_CLI_COMMAND_INCLUDE_BUNDLE: ${{ secrets.WAAVY_CLI_COMMAND_INCLUDE_BUNDLE }}
          WAAVY_CLI_COMMAND_INCLUDE_CREATE: ${{ secrets.WAAVY_CLI_COMMAND_INCLUDE_CREATE }}
          WAAVY_CLI_COMMAND_INCLUDE_PRERENDER: ${{ secrets.WAAVY_CLI_COMMAND_INCLUDE_PRERENDER }}
          WAAVY_CLI_COMMAND_INCLUDE_RENDER: ${{ secrets.WAAVY_CLI_COMMAND_INCLUDE_RENDER }}
          WAAVY_CLI_COMMAND_INCLUDE_SSG: ${{ secrets.WAAVY_CLI_COMMAND_INCLUDE_SSG }}
          WAAVY_CLI_COMMAND_INCLUDE_UPGRADE: ${{ secrets.WAAVY_CLI_COMMAND_INCLUDE_UPGRADE }}
        run: bun run build

      - name: Setup NPM Auth
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: echo "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}" > ~/.npmrc

      - name: Publish to NPM
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          files: out/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
